* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --header-bg-color: #5DA5A4;
  --block-container-bg-color: white;
  --bg-color: #F0FAFB;
  --new-bg-colors: #61A5A5;
  --coding-languages-bg-color: #EEF6F5;
  --job-name-color: #61A5A5;
  --border-color: #61A5A5;
  --border-radius: 4px;
  --featured-bg-color: #2F3D3C;
  --text-color: #2F3D3C;
  --hr-color: #F4F5F5;
  --shadow-color: #D7EAED;
  --main-container-color: #F0FAFB;

  background-color: var(--bg-color);
  width: 100%;
}

.main-container {
  width: 100%;

}

.header {
  background-color: var(--header-bg-color);
}

.header img {
  width: 100%;
}

.block-container {
  width: 90%;
  margin: 50px auto;
  position: relative;
  border-radius: var(--border-radius);
  border-left: 5px solid var(--border-color);
  background-color: var(--block-container-bg-color);
  box-shadow: 0 7px 20px var(--shadow-color);
}

.job-image {
  width: 15%;
  margin-left: 20px;
  position: absolute;
  top: -20px;
  left: 5px;
}


.container-contents {
  margin-left: 25px;
  padding-top: 40px;
}

.job-name {
  color: var(--job-name-color);
}

.job-stats {
  display: flex;
  margin-bottom: 25px;

}

.new {
  background-color: var(--new-bg-colors);
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  position: absolute;
  left: 35%;
  top: 13%;
}

.featured {
  background-color: var(--featured-bg-color);
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  position: absolute;
  left: 53%;
  top: 13%;
}

.job-tittle {
  font-weight: 900;
  margin-bottom: 15px;
  color: var(--text-color);
}

.workplace-stats {
  display: flex;
  margin-bottom: 20px;
}

hr {
  margin-bottom: 20px;
  width: 95%;
  color: gray;
}

.coding-languages {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  padding-bottom: 30px;
  grid-column-gap: 15px;
  grid-row-gap: 18px;
}

.coding-languages h5 {
  background-color: var(--coding-languages-bg-color);
  border-radius: var(--border-radius);
  color: var(--job-name-color);
  font-weight: 900;
  padding: 8px 8px;
}


@media (min-width:760px){
  .container-contents{
    margin-left: 110px;
  }
  
  .job-image{
    top:30%;
    width:7%;
  }
  
  .coding-languages{
    display:flex;
    position: absolute;
    right:2%;
    top:50%;
  }
  
  hr{
    display:none;
  }
  
  .block-container{
    padding-bottom:10px;
  }
  
  .new{
    top:20%;
  }
  
  .featured{
    top:20%;
    left:42%;
  }
  .job-name{
    font-size:18px;
  }
  
  .job-tittle{
    font-size:20px;
  }
  
}
